@import url('https://fonts.google.com/specimen/Source+Sans+Pro');
@import url('https://fonts.google.com/?selection.family=Roboto');
body {
	background-image: url('bg.jpg');
	color: white;
	background-size: cover cover cover;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;

}

h1 {
	font-family: 'Rubik', sans-serif;
	text-align: center;
	margin-top: 20px;
	font-size: 45px;
	text-shadow: 5px 5px 5px black;
}

.sta-table.container {
	font-size: 20px;
	margin-top: 35px;
	width: 80%;
	margin: auto;
}

.sta-table-row {
	display:flex;
}

 .sta-table-column {
 	background-color: rgba(0,255,255,0.6);
 	margin: 2px;
 	padding: 15px;
 	white-space: nowrap;
 	overflow: hidden;
 	text-overflow: ellipsis;
 }

 .sta-name {
 	flex-basis: 10%;
 }

 .sta-phone {
 	flex-basis: 15%;
 }

 .sta-school {
 	flex-grow: 0;
 	flex-basis:10%;
 }

 .sta-degree {
 	flex-basis: 15%;
 }

 .sta-year {
 	flex-basis: 15%;
 }

 .sta-header {
 	background-color: rgba(0,255,255,0.8);
 	font-weight: bolder;
 }

 .sta-edit, .sta-delete, .sta-add-entry-column{
 	flex-basis: 5%;
 	text-align: center;
 	cursor: pointer;

 }
#newPersonModal {
	width: 500px;
    padding: 10px;
	border-radius: 5px;
	z-index: 99;
	top: 50px;
	position: absolute;
	margin-left: calc(50% - 250px);
	background-color: rgba(0,0,255,0.9);
}

#newPersonModal input{
	display: block;
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 3px;
	width: 480px;
}

.input-err {
	background-color: white;

}

#backdrop {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.9);
	z-index: 50;
	top: 0;
	left: 0;
}

#newPersonAddBtn {
	background-color: rgb(0,0,128);
}

#newPersonCancelBtn {
	background-color: rgba(255,0,0,0.8);
}

button {
	padding: 15px;
	border-radius: 5px;
	border:none;
	float: right;
	margin:5px;
	cursor: pointer;
}

button:hover {
	padding: 12px;

}

.disable-modal {
	visibility: hidden;
}

.enable-modal {
	visibility: visible;
}

i {
	pointer-events: none;
}